/*  ----------------------------------------------------------------- 
Note: All styles are alphabetized (except for vendor-prefixed styles)
------------------------------------------------------------------ */

@import url(reset.css); /* Reset all styles for cross-browser consistency */

/* ---------------------------------
Element Styles
--------------------------------- */

body {
	background: white url(../images/bg.png) repeat-x;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 18px; 
	position: relative; }
 
strong { font-weight: bold }
 
h1 {
	color: #000;
	float: left;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: -2px;
	overflow: visible;
	padding: 42px 0 36px;
	position: relative;
}
 
h2 {
	background: #f5f5f5 url(../images/heading-bg.png) bottom repeat-x;
	border-bottom: solid 1px #e9e9e9;
	border-top: solid 1px #fafafa;
	font-size: 14px;
	padding: 7px 0 9px 0;
	text-align: center;
	zoom: 1; /* Triggers layout for Internet Explorer */ }
 
	h2.topHeading {
		border-bottom: solid 1px #bcbcbc;
		border-top: none;
		     -moz-border-radius-topleft: 9px;
		    -moz-border-radius-topright: 9px;
		 -webkit-border-top-left-radius: 9px;
		-webkit-border-top-right-radius: 9px;
		         border-top-left-radius: 9px;
		        border-top-right-radius: 9px;		
		padding-top: 8px; 
	}
 
p { padding: 0 0 9px; }

form p { position: relative; }
 
label { color: #777777; float: left; }
 
	label.error {
		color: red;
		font-size: .8em;
		position: absolute;
		right: 15px;
		text-align: right; 
		top: 10px; }
 
	label img {
		float: left;
		margin: 1px 7px 0 0; }
 
input, textarea {
	background: white url(../images/form-bg.png) repeat-x;
	border-left: solid 1px #cacaca;
	border-right: solid 1px #cacaca;
	border: none;
	clear: both;
	display: block;
	font: 14px/1.5em Helvetica, Arial, sans-serif;
	margin: 0 auto;
	padding: 10px;
	width: 94.5%;  }
	
	textarea { height: 126px; }
	
	.g-recaptcha > div > div { margin: 0 auto 6px auto; } /* Centre ReCaptcha */
 
/* ---------------------------------
Wrappers
--------------------------------- */
 
#outerWrapper {
	clear: both;
	margin: 0 auto;
	position: relative;
	width: 487px; }
 
#wrapper {
	background: #dadada;
	border-bottom: solid 1px #b8b8b8;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	float: left;
	margin: 0 0 42px 0;
	width: 100%; }
	
#footer { 
	background: url(../images/divider.png) top repeat-x; 
	color: #484848; 
	font-size: .8em;
	zoom: 1; /* IE fix to show background image */ }
	
#domainPortfolio { 
	background: #333; 
	color: white;
	display: none;
	overflow: hidden;
	padding: 3px 110px 5px 1.2em;
	zoom: 1; }
	
	#domainPortfolio li { float: left; padding: 0 1em 0 0; }
	
#recaptcha_widget_div { margin: 0 0 9px 75px; } 

/* ---------------------------------
Aligning classes, for sale tag,
price area
--------------------------------- */

a img, .imgLeft { margin: 0 7px -3px 0; } /* Align icons */

.success, .formerror { display: none; } /* Hide the success message until the form is submitted */
 
.section, #formSection { padding: 18px 9px 10px; text-align: center;}
 
.saleTag, .minPrice { color: white; display: block; }

.saleTag {
	background: url(../images/forsaletag-bg.png) no-repeat;
	font-size: 18px;
	height: 39px;
	letter-spacing: 0px;
	padding: 13px 0 0 44px;
	position: absolute;
	right: -150px;
	text-shadow: 0 -1px 1px #6e2222;
	top: 29px;
	width: 101px; }
 
.minPrice {
	background: #787878 url(../images/highlight.png) center no-repeat;
	border-bottom: solid 1px #545454;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	padding: 17px 0 18px;
	text-align: center;
	text-shadow: 0px 1px 2px #393939; }
 
/* ---------------------------------
Button Styles
--------------------------------- */

.button {
	margin: 0 auto;
	text-align: center; }
	
	a#submit { display: none; } /* hide Javascript enhanced submit button when JS is not available */
 
a.button, .altSubmitButton {
	border: solid 1px #929292;
	color: black;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 11px;
	text-decoration: none; 
	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 11%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#ffffff), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 11%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 11%,#d3d3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 11%,#d3d3d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 11%,#d3d3d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
	        border-radius: 3px;
	   -moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	   -moz-box-shadow: 0px 1px 0px #fff;
	-webkit-box-shadow: 0px 1px 0px #fff;
	        box-shadow: 0px 1px 0px #fff
}
	
	.altSubmitButton { width: auto; }

a.button:hover { 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 34%, #e8e8e8 84%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(34%,#f8f8f8), color-stop(84%,#e8e8e8), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 34%,#e8e8e8 84%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 34%,#e8e8e8 84%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 34%,#e8e8e8 84%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 34%,#e8e8e8 84%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
 
a.button:active { 
	background: #929292; /* Old browsers */
	background: -moz-linear-gradient(top,  #929292 0%, #c5c5c5 5%, #d8d8d8 8%, #dfdfdf 11%, #dedede 16%, #d5d5d5 29%, #bfbfbf 74%, #bababa 87%, #b8b8b8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#929292), color-stop(5%,#c5c5c5), color-stop(8%,#d8d8d8), color-stop(11%,#dfdfdf), color-stop(16%,#dedede), color-stop(29%,#d5d5d5), color-stop(74%,#bfbfbf), color-stop(87%,#bababa), color-stop(100%,#b8b8b8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #929292 0%,#c5c5c5 5%,#d8d8d8 8%,#dfdfdf 11%,#dedede 16%,#d5d5d5 29%,#bfbfbf 74%,#bababa 87%,#b8b8b8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #929292 0%,#c5c5c5 5%,#d8d8d8 8%,#dfdfdf 11%,#dedede 16%,#d5d5d5 29%,#bfbfbf 74%,#bababa 87%,#b8b8b8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #929292 0%,#c5c5c5 5%,#d8d8d8 8%,#dfdfdf 11%,#dedede 16%,#d5d5d5 29%,#bfbfbf 74%,#bababa 87%,#b8b8b8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #929292 0%,#c5c5c5 5%,#d8d8d8 8%,#dfdfdf 11%,#dedede 16%,#d5d5d5 29%,#bfbfbf 74%,#bababa 87%,#b8b8b8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929292', endColorstr='#b8b8b8',GradientType=0 ); /* IE6-9 */
}

#domainPortfolio a { color:#BADFF3; }
		#domainPortfolio a:hover { color: #fff; }
	
#portfolioButton { 
	position: absolute; 
	top: 0;
	right: 0;
	z-index: 1; }
	
	a#portfolioButton {
		background: #999;
		    -moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px; 
		        border-bottom-left-radius: 5px;
		color: #fff;
		font-size: 11px;
		font-weight: bold;
		padding: 5px 8px;
		text-decoration: none; 
	}

a.button, h2, #footer { text-shadow: 0px 1px 0px #f8f8f8; }
